
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# OSX
**/.DS_Store
.DS_Store
.AppleDouble
.LSOverride
*.swp
*~.nib
# Thumbnails
._*

# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

